# /var/lib/rancher/rke2/server/manifests/rke2-cilium-config.yaml
---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
    name: rke2-cilium
    namespace: kube-system
spec:
    valuesContent: |-
        # encryption:
        #   enabled: true
        #   type: wireguard
        # kubeProxyReplacement: true
        #   k8sServiceHost: "localhost"
        #   k8sServicePort: "6443"
        gatewayAPI:
          enabled: true
          hostNetwork:
            enabled: true
        envoy:
          enabled: true
          securityContext:
            capabilities:
              keepCapNetBindService: true
              envoy:
              # Add NET_BIND_SERVICE to the list (keep the others!)
              - NET_BIND_SERVICE
              # Used since cilium proxy uses setting IPPROTO_IP/IP_TRANSPARENT
              - NET_ADMIN
              # We need it for now but might not need it for >= 5.11 specially
              # for the 'SYS_RESOURCE'.
              # In >= 5.8 there's already BPF and PERMON capabilities
              - SYS_ADMIN
              # Both PERFMON and BPF requires kernel 5.8, container runtime
              # cri-o >= v1.22.0 or containerd >= v1.5.0.
              # If available, SYS_ADMIN can be removed.
              #- PERFMON
              #- BPF

        prometheus:
          enabled: true
        operator:
          prometheus:
            enabled: true
        hubble:
          enabled: true
          relay:
            enabled: true
          ui:
            enabled: true
          metrics:
            enableOpenMetrics: true
            enabled:
                - dns
                - drop
                - tcp
                - flow
                - port-distribution
                - icmp
                - httpV2:exemplars=true;labelsContext=source_ip,source_namespace,source_workload,destination_ip,destination_namespace,destination_workload,traffic_direction
