# /var/lib/rancher/rke2/server/manifests/rke2-cilium-config.yaml
---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
    name: axiom-rke2-cilium
    namespace: kube-system
spec:
    valuesContent: |-
        # encryption:
        #   enabled: true
        #   type: wireguard
        # kubeProxyReplacement: true
        #   k8sServiceHost: "localhost"
        #   k8sServicePort: "6443"
        prometheus:
          enabled: true
        operator:
          prometheus:
            enabled: true
        hubble:
          enabled: true
          relay:
            enabled: true
          ui:
            enabled: true
