apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: internal-traefik
    namespace: kube-system
spec:
    interval: 30m
    chart:
        spec:
            chart: traefik
            version: "39.0.0"
            sourceRef:
                kind: HelmRepository
                name: traefik
                namespace: kube-system
            interval: 12h
    install:
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
        gateway:
            # handled by infrastructure-internal-gateway
            enabled: false
        gatewayClass:
            enabled: true
            name: "internal-traefik"
        providers:
            kubernetesGateway:
                enabled: true
                experimentalChannel: true
        service:
            enabled: true
            annotations:
                external-dns.alpha.kubernetes.io/hostname: >-
                    *.internal.axiom.lucasfehes.nl,
                    grafana.axiom.lucasfehres.nl,
                    harbor.axiom.lucasfehres.nl

        # entrypoints
        ports:
            # used by insecure-gateway
            web:
                port: 80
                targetPort: 80
            websecure:
                port: 443
                targetPort: 443
