apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: prometheus
    namespace: observability
spec:
    interval: 30m
    chart:
        spec:
            chart: kube-prometheus-stack
            version: "81.3.0"
            sourceRef:
                kind: HelmRepository
                name: prometheus-community
                namespace: observability
            interval: 12h
    install:
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
        # TODO: configure gateway
        prometheus:
            prometheusSpec:
                serviceMonitorSelector: {}
                serviceMonitorSelectorNilUsesHelmValues: false

        grafana:
            dashboardProviders:
                dashboardproviders.yaml:
                    apiVersion: 1
                    providers:
                        - name: "default"
                          orgId: 1
                          folder: "Rook Ceph"
                          type: file
                          disableDeletion: false
                          editable: true
                          options:
                              path: /var/lib/grafana/dashboards/default
            dashboards:
                default:
                    rook-ceph-cluster-dashboard:
                        url: https://raw.githubusercontent.com/rook/rook/refs/heads/master/deploy/examples/monitoring/grafana/Ceph%20Cluster%20Dashboard.json
                    rook-ceph-osd-single-dashboard:
                        url: https://raw.githubusercontent.com/rook/rook/refs/heads/master/deploy/examples/monitoring/grafana/Ceph%20OSD%20Single%20Dashboard.json
                    rook-ceph-pools-dashboard:
                        url: https://raw.githubusercontent.com/rook/rook/refs/heads/master/deploy/examples/monitoring/grafana/Ceph%20Pools%20Dashboard.json
