apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: prometheus
    namespace: observability
spec:
    interval: 30m
    chart:
        spec:
            chart: kube-prometheus-stack
            version: "81.3.0"
            sourceRef:
                kind: HelmRepository
                name: prometheus-community
                namespace: observability
            interval: 12h
    install:
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
        # TODO: configure gateway
        prometheus:
            prometheusSpec:
                serviceMonitorSelector: {}
                serviceMonitorSelectorNilUsesHelmValues: false
                additionalScrapeConfigs:
                    - job_name: "zfs-exporter"
                      static_configs:
                          - targets: ["10.67.1.1:9134"]
                      metrics_path: /metrics
                      scrape_interval: 30s

                    # used for Cilium
                    - job_name: "kubernetes-pods"
                      kubernetes_sd_configs:
                          - role: pod
                      relabel_configs:
                          - source_labels: [__meta_kubernetes_namespace]
                            action: keep
                            regex: kube-system
                          - source_labels:
                                [
                                    __meta_kubernetes_pod_annotation_prometheus_io_scrape,
                                ]
                            action: keep
                            regex: true
                          - source_labels:
                                [
                                    __address__,
                                    __meta_kubernetes_pod_annotation_prometheus_io_port,
                                ]
                            action: replace
                            regex: ([^:]+)(?::\d+)?;(\d+)
                            replacement: ${1}:${2}
                            target_label: __address__

                    # used for Cilium Hubble
                    - job_name: "kubernetes-endpoints"
                      scrape_interval: 30s
                      kubernetes_sd_configs:
                          - role: endpoints
                      relabel_configs:
                          - source_labels: [__meta_kubernetes_namespace]
                            action: keep
                            regex: kube-system
                          - source_labels:
                                [
                                    __meta_kubernetes_service_annotation_prometheus_io_scrape,
                                ]
                            action: keep
                            regex: true
                          - source_labels:
                                [
                                    __address__,
                                    __meta_kubernetes_service_annotation_prometheus_io_port,
                                ]
                            action: replace
                            target_label: __address__
                            regex: (.+)(?::\d+);(\d+)
                            replacement: $1:$2

        grafana:
            dashboardProviders:
                dashboardproviders.yaml:
                    apiVersion: 1
                    providers:
                        - name: "rookceph"
                          orgId: 1
                          folder: "Rook Ceph"
                          type: file
                          disableDeletion: false
                          editable: true
                          options:
                              path: /var/lib/grafana/dashboards/rookceph
                        - name: "zfs"
                          orgId: 1
                          folder: "ZFS"
                          type: file
                          disableDeletion: false
                          editable: true
                          options:
                              path: /var/lib/grafana/dashboards/zfs
                        - name: "cilium"
                          orgId: 1
                          folder: "Cilium"
                          type: file
                          disableDeletion: false
                          editable: true
                          options:
                              path: /var/lib/grafana/dashboards/cilium
            dashboards:
                rookceph:
                    cluster-dashboard:
                        url: https://raw.githubusercontent.com/rook/rook/refs/heads/master/deploy/examples/monitoring/grafana/Ceph%20Cluster%20Dashboard.json
                    osd-single-dashboard:
                        url: https://raw.githubusercontent.com/rook/rook/refs/heads/master/deploy/examples/monitoring/grafana/Ceph%20OSD%20Single%20Dashboard.json
                    pools-dashboard:
                        url: https://raw.githubusercontent.com/rook/rook/refs/heads/master/deploy/examples/monitoring/grafana/Ceph%20Pools%20Dashboard.json
                zfs:
                    arc-stats:
                        url: https://raw.githubusercontent.com/d-uzlov/k8s-homelab/refs/heads/master/metrics/zfs-exporter/dashboards/zfs-arc-stats.json
                    dataset-details:
                        url: https://raw.githubusercontent.com/d-uzlov/k8s-homelab/refs/heads/master/metrics/zfs-exporter/dashboards/zfs-dataset-details.json
                    pool-datasets:
                        url: https://raw.githubusercontent.com/d-uzlov/k8s-homelab/refs/heads/master/metrics/zfs-exporter/dashboards/zfs-pool-datasets.json
                    pool-overview:
                        url: https://raw.githubusercontent.com/d-uzlov/k8s-homelab/refs/heads/master/metrics/zfs-exporter/dashboards/zfs-pool-overview.json
                    vdev-disks:
                        url: https://raw.githubusercontent.com/d-uzlov/k8s-homelab/refs/heads/master/metrics/zfs-exporter/dashboards/zfs-vdev-disks.json
                    vdev-list:
                        url: https://raw.githubusercontent.com/d-uzlov/k8s-homelab/refs/heads/master/metrics/zfs-exporter/dashboards/zfs-vdev-list.json
                cilium:
                    agent:
                        url: https://raw.githubusercontent.com/cilium/cilium/refs/heads/main/install/kubernetes/cilium/files/cilium-agent/dashboards/cilium-dashboard.json
                    hubble:
                        url: https://raw.githubusercontent.com/cilium/cilium/refs/heads/main/install/kubernetes/cilium/files/hubble/dashboards/hubble-dashboard.json
                    hubble-dns-namespace:
                        url: https://raw.githubusercontent.com/cilium/cilium/refs/heads/main/install/kubernetes/cilium/files/hubble/dashboards/hubble-dns-namespace.json
                    hubble-l7-http-metrics-by-workload:
                        url: https://raw.githubusercontent.com/cilium/cilium/refs/heads/main/install/kubernetes/cilium/files/hubble/dashboards/hubble-l7-http-metrics-by-workload.json
                    hubble-network-overview-namespace:
                        url: https://raw.githubusercontent.com/cilium/cilium/refs/heads/main/install/kubernetes/cilium/files/hubble/dashboards/hubble-network-overview-namespace.json
