apiVersion: apps/v1
kind: Deployment
metadata:
    name: jira
    namespace: atlassian
    labels:
        app: jira
spec:
    replicas: 1
    selector:
        matchLabels:
            app: jira

    template:
        metadata:
            name: jira
            labels:
                app: jira

        spec:
            securityContext:
                fsGroup: 999
            imagePullSecrets:
                - name: regcred
            containers:
                - name: jira
                  image: registry.axiom.lucasfehres.nl/private-images/atlassian-jira:11.3.2
                  imagePullPolicy: IfNotPresent
                  ports:
                      - containerPort: 8080
                        protocol: TCP
                  env:
                      - name: TZ
                        value: Europe/Amsterdam
                      - name: JVM_MINIMUM_MEMORY
                        value: 0.5g
                      - name: JVM_MAXIMUM_MEMORY
                        value: 1g
                      - name: JVM_CODE_CACHE_ARGS
                        value: "-XX:InitialCodeCacheSize=0.2g -XX:ReservedCodeCacheSize=0.5g"
                  volumeMounts:
                      - mountPath: /var/jira
                        name: jira-home
            restartPolicy: Always
            volumes:
                - name: jira-home
                  persistentVolumeClaim:
                      claimName: jira-home
