apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: traefik
    namespace: kube-system
spec:
    interval: 30m
    chart:
        spec:
            chart: traefik
            version: "39.0.0"
            sourceRef:
                kind: HelmRepository
                name: traefik
                namespace: kube-system
            interval: 12h
    install:
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
        deployment:
            # expose Traefik on all nodes
            kind: DaemonSet

        gateway:
            # handled by infrastructure-gateway and infrastructure-secure-gateway
            enabled: false
        gatewayClass:
            enabled: true
        providers:
            kubernetesGateway:
                enabled: true
        service:
            # disable service in favor of gateways
            enabled: false

        # entrypoints
        ports:
            # used by insecure-gateway
            web:
                port: 80
                hostPort: 80
            websecure:
                port: 443
                hostPort: 443

            otel:
                port: 4318
                hostPort: 4318
